/*~~~~~~~~USER CUSTOMIZATION START~~~~~~~~~*/
/* You can choose colors at www.htmlcolorcodes.com */

/* TIMER ON/OFF */
	.timer { display: block; } /* 'none' or 'block' */
/* TAGS ON/OFF DESKTOP & MOBILE*/
	#tags-container { display: block; } /* ‘none’ or ‘block’ */
.mobile #tags-container { display: none; } /* ‘none’ or ‘block’ */
/* MOVE TAGS UP FOR 'NO-DISTRACTIONS' ADD-ON */
#tags-container{ padding-bottom: 0px; } /* 0 normal, 55 to move up */
/* ANKING IMAGE HYPERLINK ON/OFF */
	#pic {display: block; } /* 'none' or 'block' */
/* MNEMONICS CENTER OR LEFT */
.mnemonics { text-align:left; } 

/*FONT SIZE*/
     /* DESKTOP */ html 
	{ font-size: 28px; }
     /* MOBILE */ .mobile
         { font-size: 28px; }
		/* NOTE: anything with 'px' will keep a font that size indefinitely, 'rem' is a fraction of this size above and allows all text to change size with the above setting */

/*HINT FONT SIZE*/ .hints 
	{ font-size: .85rem; }
   /*First Aid, Sketchy, Physeo, Additional Resources Font Size*/
	#firstaid, #sketchy, #pixorize, #physeo, #additional { font-size: 1rem !important; } 
   /*First Aid, Sketchy, Physeo, Additional Resources Font Size on Mobile*/
	.mobile #firstaid, .mobile #sketchy, .mobile #pixorize,, .mobile #physeo, .mobile #additional { font-size: 20px!important; }

/*FONT STYLE*/	
	.card, kbd { font-family: Menlo, baskerville, sans; } /*Step exam's font is Arial Greek*/
/*MAX IMAGE HEIGHT*/
	img {max-height: none; }
 /*MAX IMAGE WIDTH*/
		#extra img, #lecture img, #missed img, #pathoma img, #bnb img {max-width: 85%!important; }
	#firstaid img, #sketchy img, #pixorize img, #physeo img, #additional img {max-width: 60%!important; }


/* ~~COLORS~~ */
/*DEFAULT TEXT COLOR*/ 
	.card { color: #D7DEE9; }
/*BACKGROUND COLOR*/ 
	.card { background-color: #333B45; }
	#tags-container { background-color: transparent; }
    /*TIMER COUNTDOWN COLOR*/
 	.timer { color: transparent; }
/* CLOZE COLOR */
	.cloze { color: MediumSeaGreen; }
/* "EXTRA" FIELD COLOR */
	#extra { color: #839496; }
/* HINT COLOR*/
	a[href="#"] { color: #268bd2; }
/* HINT REVEAL COLOR */
	.hints { color: #6c71c4; }
   /* Missed Questions Reveal Color */
	#missed { color: #dc322f; }
       #missed a[href="#"] { color: #dc322f!important; }
	.nightMode #missed a[href="#"], .night_mode #missed a[href="#"] { color: #dc322f!important; }

/* ~~NIGHT MODE COLORS~~ */
/* NM DEFAULT TEXT COLOR*/ 
	.nightMode.card, .night_mode .card
     { color: #D7DEE9 !important; }
/* NM BACKGROUND COLOR*/ 
	.nightMode.card, .night_mode .card { background-color: #333B45 !important; }
/* NM CLOZE COLOR */
 	.nightMode .cloze, .night_mode .cloze { color: MediumSeaGreen !important; }
/* NM "EXTRA" FIELD COLOR */
	.nightMode #extra, .night_mode #extra { color: #839496; }
/* NM HINT COLOR */
	.nightMode a[href="#"], .night_mode a[href="#"] { color: #268bd2 !important; }
/* NM HINT REVEAL COLOR */
	.nightMode .hints, .night_mode .hints { color: #6c71c4;}

/* COLOR ACCENTS FOR BOLD-ITALICS-UNDERLINE*/
b { color: #C695C6 !important; }
u { color: #5EB3B3 !important; } 
i  { color: IndianRed !important; }

/* ~~~~~~~~END CUSTOMIZATION~~~~~~~~ */