build/
tools/
profile/
meta.json

src/*/gui/forms/anki*
src/*/gui/resources/anki*

__pycache__/
.cache
.mypy_cache/
.pytest_cache/

.vscode/
*.code-workspace
Note Types/IO-one by one/.history/Back Template_20210907223308.html
Note Types/IO-one by one/.history/Back Template_20210911180125.html
Note Types/IO-one by one/.history/Styling_20210907222703.css
Note Types/IO-one by one/.history/Styling_20210911180201.css
Note Types/IO-one by one/.history/Styling_20210911180732.css
Note Types/Cloze-AnKingMaster-v3/.history/Back Template_20210911182226.html
Note Types/Cloze-AnKingMaster-v3/.history/Back Template_20210911173312.html
Note Types/IO-one by one/.history/Back Template_20210911182240.html
Note Types/IO-one by one/.history/Back Template_20210911183243.html
Note Types/IO-one by one/.history/Back Template_20210911183333.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210912154154.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210912145200.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210912140435.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210911164737.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912154932.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912154654.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912145201.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912140459.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210911182225.html
Note Types/.history/Basic-AnKingLanguage/Styling_20210912154211.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210912150303.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210912145203.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210912140453.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210911175847.css
