build/
tools/
profile/
meta.json

src/*/gui/forms/anki*
src/*/gui/resources/anki*

__pycache__/
.cache
.mypy_cache/
.pytest_cache/

.vscode/
*.code-workspace
Note Types/IO-one by one/.history/Back Template_20210907223308.html
Note Types/IO-one by one/.history/Back Template_20210911180125.html
Note Types/IO-one by one/.history/Styling_20210907222703.css
Note Types/IO-one by one/.history/Styling_20210911180201.css
Note Types/IO-one by one/.history/Styling_20210911180732.css
