build/
tools/
profile/
meta.json

src/*/gui/forms/anki*
src/*/gui/resources/anki*

__pycache__/
.cache
.mypy_cache/
.pytest_cache/

.vscode/
*.code-workspace
Note Types/IO-one by one/.history/Back Template_20210907223308.html
Note Types/IO-one by one/.history/Back Template_20210911180125.html
Note Types/IO-one by one/.history/Styling_20210907222703.css
Note Types/IO-one by one/.history/Styling_20210911180201.css
Note Types/IO-one by one/.history/Styling_20210911180732.css
Note Types/Cloze-AnKingMaster-v3/.history/Back Template_20210911182226.html
Note Types/Cloze-AnKingMaster-v3/.history/Back Template_20210911173312.html
Note Types/IO-one by one/.history/Back Template_20210911182240.html
Note Types/IO-one by one/.history/Back Template_20210911183243.html
Note Types/IO-one by one/.history/Back Template_20210911183333.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210912154154.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210912145200.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210912140435.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20210911164737.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912154932.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912154654.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912145201.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210912140459.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20210911182225.html
Note Types/.history/Basic-AnKingLanguage/Styling_20210912154211.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210912150303.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210912145203.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210912140453.css
Note Types/.history/Basic-AnKingLanguage/Styling_20210911175847.css
Note Types/.history/Cloze-AnKing/Back Template_20210905155906.html
Note Types/.history/Cloze-AnKing/Back Template_20211006101559.html
Note Types/.history/Cloze-AnKing/Front Template_20210905155853.html
Note Types/.history/Cloze-AnKing/Front Template_20211006101601.html
Note Types/.history/Cloze-AnKing/Styling_20210905155915.css
Note Types/.history/Cloze-AnKing/Styling_20211006101607.css
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20210911192225.html
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20211006101526.html
Note Types/.history/Cloze-AnKingMaster-v3/Front Template_20210911174737.html
Note Types/.history/Cloze-AnKingMaster-v3/Front Template_20211006101527.html
Note Types/.history/Cloze-AnKingMaster-v3/Styling_20211005100153.css
Note Types/.history/Cloze-AnKingMaster-v3/Styling_20211006101524.css
Note Types/.history/Cloze-AnKing/Back Template_20211006125230.html
Note Types/.history/Cloze-AnKingMaster-v3/Styling_20211006124406.css
Note Types/.history/Basic-AnKingLanguage/Back Template_20211006130347.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20211006130452.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20211006131010.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20211006135353.html
Note Types/.history/Basic-AnKingLanguage/Back Template_20211006140859.html
Note Types/.history/Basic-AnKingLanguage/Front Template_20211006130457.html
Note Types/.history/Basic-AnKingLanguage/Styling_20211006130746.css
Note Types/.history/Basic-AnKingLanguage/Styling_20211006140436.css
Note Types/.history/Cloze-AnKing/Back Template_20211006125253.html
Note Types/.history/Cloze-AnKing/Back Template_20211006130310.html
Note Types/.history/Cloze-AnKing/Back Template_20211006130328.html
Note Types/.history/Cloze-AnKing/Back Template_20211006131033.html
Note Types/.history/Cloze-AnKing/Back Template_20211006135355.html
Note Types/.history/Cloze-AnKing/Back Template_20211006140854.html
Note Types/.history/Cloze-AnKing/Front Template_20211006125259.html
Note Types/.history/Cloze-AnKing/Styling_20211006125311.css
Note Types/.history/Cloze-AnKing/Styling_20211006130047.css
Note Types/.history/Cloze-AnKing/Styling_20211006130747.css
Note Types/.history/Cloze-AnKing/Styling_20211006140242.css
Note Types/.history/Cloze-AnKing/Styling_20211006140337.css
Note Types/.history/Cloze-AnKing/Styling_20211006141756.css
Note Types/.history/Cloze-AnKing/Styling_20211006141803.css
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20211006125306.html
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20211006135356.html
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20211006135408.html
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20211006140138.html
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20211006140205.html
Note Types/.history/Cloze-AnKingMaster-v3/Back Template_20211006140849.html
Note Types/.history/Cloze-AnKingMaster-v3/Styling_20211006131702.css
Note Types/.history/Cloze-AnKingMaster-v3/Styling_20211006135254.css
Note Types/.history/Cloze-AnKingMaster-v3/Styling_20211006140337.css
Note Types/.history/Cloze-AnKingMaster-v3/Styling_20211006140356.css
Note Types/.history/Cloze-AnKingMCAT/AnKing Custom Styling_20210128102814.css
Note Types/.history/Cloze-AnKingMCAT/AnKing Custom Styling_20211006140623.css
Note Types/.history/Cloze-AnKingMCAT/Back Template_20211006123751.html
Note Types/.history/Cloze-AnKingMCAT/Back Template_20211006140820.html
Note Types/.history/Cloze-AnKingMCAT/Back Template_20211006141026.html
Note Types/.history/Cloze-AnKingMCAT/Front Template_20210905152158.html
Note Types/.history/Cloze-AnKingMCAT/Front Template_20211006141039.html
Note Types/.history/Cloze-AnKingMCAT/Front Template_20211006141046.html
Note Types/.history/Cloze-AnKingMCAT/Styling_20211006123751.css
Note Types/.history/Cloze-AnKingMCAT/Styling_20211006140731.css
Note Types/.history/Cloze-one by one 2.1/Front Template_20210905152308.html
Note Types/.history/Cloze-one by one 2.1/Front Template_20211006141807.html
Note Types/.history/Cloze-one by one 2.1/Styling_20211006123751.css
Note Types/.history/Cloze-one by one 2.1/Styling_20211006141754.css
Note Types/.history/Cloze-one by one 2.1/Styling_20211006141804.css
Note Types/.history/IO-one by one/Back Template_20211006123751.html
Note Types/.history/IO-one by one/Back Template_20211006141427.html
Note Types/.history/IO-one by one/Back Template_20211006141551.html
Note Types/.history/IO-one by one/Styling_20211005110812.css
Note Types/.history/IO-one by one/Styling_20211006141549.css
Note Types/.history/Cloze-AnKingMaster-v3/Shamim Customize styling_20211006142222.css
Note Types/.history/Cloze-AnKingMaster-v3/Shamim Customize styling_20211006142409.css
Note Types/.history/Cloze-AnKing/Back Template_20211006142222.html
Note Types/.history/Cloze-AnKing/Back Template_20211006142907.html
Note Types/.history/Cloze-AnKing/Front Template_20211006142222.html
Note Types/.history/Cloze-AnKing/Front Template_20211006142527.html
Note Types/.history/Cloze-AnKing/Front Template_20211006142559.html
Note Types/.history/Cloze-AnKing/Front Template_20211006142731.html
Note Types/.history/Cloze-AnKing/Front Template_20211006142734.html
Note Types/.history/Cloze-AnKingDerm/Back Template_20211006142106.html
Note Types/.history/Cloze-AnKingDerm/Back Template_20211006142858.html
Note Types/.history/Cloze-AnKingDerm/Back Template_20211006142902.html
Note Types/.history/Cloze-AnKingDerm/Front Template_20211006142106.html
Note Types/.history/Cloze-AnKingDerm/Front Template_20211006142537.html
Note Types/.history/Cloze-AnKingDerm/Front Template_20211006142607.html
Note Types/.history/Cloze-AnKingDerm/Front Template_20211006142713.html
Note Types/.history/Cloze-AnKingDerm/Front Template_20211006142718.html
.history/Note Types/Cloze-AnKingDerm/Front Template_20211010151651.html
.history/Note Types/Cloze-AnKingDerm/Front Template_20211006142717.html
.history/Note Types/Cloze-AnKingDerm/Back Template_20211006142901.html
.history/Note Types/Cloze-AnKingDerm/Back Template_20211010152849.html
.history/Note Types/Cloze-AnKingDerm/Back Template_20211010153739.html
.history/Note Types/Cloze-AnKingDerm/Styling_20211006142106.css
.history/Note Types/Cloze-AnKingDerm/Styling_20211010153735.css
.history/Note Types/Cloze-AnKingMaster-v3/README_20211006142103.md
.history/Note Types/Cloze-AnKingMaster-v3/README_20211010151959.md
.history/Note Types/Cloze-AnKingMaster-v3/Back Template_20211006142222.html
.history/Note Types/Cloze-AnKingMaster-v3/Back Template_20211010153826.html
.history/Note Types/Basic-AnKingLanguage/Back Template_20211006142222.html
.history/Note Types/Basic-AnKingLanguage/Back Template_20211010154134.html
.history/Note Types/Basic-AnKingLanguage/Front Template_20211006142222.html
.history/Note Types/Basic-AnKingLanguage/Front Template_20211010153920.html
.history/Note Types/Cloze-AnKing/Back Template_20211006142906.html
.history/Note Types/Cloze-AnKing/Back Template_20211010154236.html
.history/Note Types/Cloze-AnKing/Front Template_20211006142733.html
.history/Note Types/Cloze-AnKing/Front Template_20211010154241.html
.history/Note Types/Cloze-AnKingMaster-v3/Front Template_20211006142222.html
.history/Note Types/Cloze-AnKingMaster-v3/Front Template_20211010154218.html
.history/Note Types/Cloze-AnKingMCAT/Back Template_20211006142222.html
.history/Note Types/Cloze-AnKingMCAT/Back Template_20211010154303.html
.history/Note Types/Cloze-AnKingMCAT/Front Template_20211006142222.html
.history/Note Types/Cloze-AnKingMCAT/Front Template_20211010154313.html
.history/Note Types/Cloze-AnKingMaster-v3/README_20211010154413.md
.history/Note Types/Cloze-AnKing/Styling_20211006142222.css
.history/Note Types/Cloze-AnKing/Styling_20211010154540.css
.history/Note Types/Cloze-AnKingMCAT/Back Template_20211010154645.html
.history/Note Types/Cloze-AnKingMCAT/Styling_20211006142222.css
.history/Note Types/Cloze-AnKingMCAT/Styling_20211010154700.css
.history/Note Types/Cloze-AnKingMaster-v3/README_20211010154812.md
