<%# Saves cloze hints, autoflips to back of card

# Parameters
- optional: boolean
if true, {{One by one}} value determines whether it's one by one mode.
if false, always one by one mode

# Global Variables
- autoflip: boolean

# Notes
- Sets window.clozeHints to hint values.
- Sets `#qa` element `display` to "none".
  Backside MUST have code that resets the `display`.

_%>
<!-- CLOZE ONE BY ONE FRONT -->
<div id="one-by-one" style="display: none;">{{One by one}}</div>

<script>
  var clozeOneByOneEnabled = true;
  <%_ if (optional === true) { _%>
    clozeOneByOneEnabled = document.getElementById("one-by-one").textContent !== "";
  <%_ } _%>
  
  window.clozeHints = [];
  if (clozeOneByOneEnabled) {
    // Save cloze hints to display in the back
    let clozes = document.getElementsByClassName("cloze")
    for(var i = 0; i < clozes.length; i++) {
      if (clozes[i].innerHTML === "[...]") {
        window.clozeHints.push("")
      } else {
        window.clozeHints.push(clozes[i].innerHTML)
      }
    }

    <%- include('src/components/autoflipFront.ejs') %>
  }
</script>