<%# Saves cloze hints and autoflips card

# Parameters
- optional: boolean
if true, {{One by one}} value determines whether it's one by one mode.
if false, always one by one mode

# Global Variables
- autoflip: boolean

# Notes
- Sets window.clozeHints to hint values.
- Sets `#qa` element `display` to "none".
  Backside MUST have code that resets the `display`.

_%>
<!-- CLOZE ONE BY ONE AUTOFLIP -->
<div id="one-by-one" style="display: none;">{{One by one}}</div>

<script>
  var clozeOneByOneEnabled = true;
  <%_ if (optional === true) { _%>
    clozeOneByOneEnabled = document.getElementById("one-by-one").textContent !== "";
  <%_ } _%>
  
  window.clozeHints = [];
  if (clozeOneByOneEnabled) {
    // Save cloze hints to display in the back
    let clozes = document.getElementsByClassName("cloze")
    for(var i = 0; i < clozes.length; i++) {
      if (clozes[i].innerHTML === "[...]") {
        window.clozeHints.push("")
      } else {
        window.clozeHints.push(clozes[i].innerHTML)
      }
    }

    if(autoflip) {
      // avoid flickering. Must unset this in the back.
      document.getElementById("qa").style.display = "none";

      if (window.pycmd) {
        pycmd("ans")
      } else if (window.showAnswer) {
        showAnswer()
      }    
      // AnkiMobile JS API doesn't have one for show answer. 
      // Best alternative is to use Taps/Swipes to show answer.
    }
  }
</script>