<%# Saves cloze hints, autoflips to back of card

# Parameters
- optional: boolean
if true, {{One by one}} value determines whether it's one by one mode.
if false, always one by one mode

# Components
components/ankiPersistence

# Global Variables
- autoflip: boolean

# Notes
- Saves cloze hints using Anki Persistence
- Sets `#qa` element `display` to "none".
  Backside MUST have code that resets the `display`.

_%>
<!-- CLOZE ONE BY ONE FRONT -->
<div id="one-by-one" style="display: none;">{{One by one}}</div>

<script>
  // enables cloze one-by-one even when one-by-one field is empty
  // minNumberOfClozes is still considered in this case
  // overridden in importance by selectiveOneByOne
  var alwaysOneByOne = true;
  var clozeOneByOneEnabled = true;
  <%_ if (optional === true) { _%>
    clozeOneByOneEnabled = alwaysOneByOne || document.getElementById("one-by-one").textContent !== "";
  <%_ } _%>
  
  var clozeHints = [];
  if (clozeOneByOneEnabled) {
    document.getElementById("qa").classList.add('one-by-one');
    // Save cloze hints to display in the back
    let clozes = document.getElementsByClassName("cloze")
    for(var i = 0; i < clozes.length; i++) {
      clozes[i].classList.add("one-by-one");
      if (clozes[i].innerHTML === "[...]") {
        clozeHints.push("")
      } else {
        clozeHints.push(clozes[i].innerHTML)
      }
    }

    <%- include('src/components/autoflipFront.ejs') %>
  }
  Persistence.setItem("clozeHints", clozeHints);
</script>