<%# 

# Global Variables
timeOverMsg: string
minutes: number
seconds: number

%> 
<!-- COUNTDOWN TIMER -->
<div class="timer" id="s2"></div>
<script>
function countdown(elementName, minutes, seconds) {
    var element, endTime, mins, msLeft, time;
    function twoDigits( n ) {
        return (n <= 9 ? "0" + n : n); 
    }
    function updateTimer() {
        msLeft = endTime - (+new Date);

        if ( msLeft < 1000 ) {
            element.innerHTML = timeOverMsg;
        } else {
            time = new Date( msLeft );
            mins = time.getUTCMinutes();
            element.innerHTML = mins + ':' + twoDigits(time.getUTCSeconds());
            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
        }
    }
    element = document.getElementById(elementName);
    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
    updateTimer();
}
countdown("s2", minutes, seconds ); //2nd value is the minute, 3rd is the seconds
</script>