<!-- #########################################################
################  USER CUSTOMIZATION START  ############## -->

<script>

// ~~~~~~~~~~~~~  CLOZE ONE BY ONE  ~~~~~~~~~~~~~
var revealClozeShortcut = "N" // Shortcut to reveal next cloze
var revealClozeWordShortcut = "Shift + N" // Shortcut to reveal next hidden word in cloze

// Changes how "Reveal Next" and clicking behaves. Either "cloze" or "word".
// "word" reveals word by word. 
var revealNextClozeMode = "cloze" 

// What cloze is hidden with
var clozeHider = (elem) => "👑"
/* 
You can replace the above line with below examples. '█' or '_' works well for hiding clozes.

// Fixed length:
var clozeHider = (elem) => "███"
// Replace each character with "█":
var clozeHider = (elem) => "█".repeat(elem.textContent.length)
// Show whitespaces:
var clozeHider = (elem) => "[" + elem.textContent.split(" ").map((t) => "█".repeat(t.length)).join(" ") + "]"
// Color-filled box (doesn't hide images):
var clozeHider = (elem) => `<span style="background-color: red; color: transparent;">${elem.innerHTML}</span>`
*/

// ~~~~~~~~~~~~~  HINT REVEAL SHORTCUTS  ~~~~~~~~~~~~~
// All shortcuts will also open with "H" if using the Hint Hotkeys add-on 
var ButtonShortcuts = {
    "Personal Notes" : "Alt + 1",
    "Missed Questions" : "Alt + 2",
}
var ToggleAllButtonsShortcut = "'"

// ~~~~~~~~~~~~~  SHOW HINTS AUTOMATICALLY  ~~~~~~~~~~~~~
var ButtonAutoReveal = {
    "Personal Notes" : false,
    "Missed Questions" : false,
}

var ScrollToButton = true;

//ENTER THE TAG TERM WHICH, WHEN PRESENT, WILL TRIGGER A RED BACKGROUND
var tagID = "XXXYYYZZZ"

</script>

<!--################  USER CUSTOMIZATION END  ################
###########################################################-->



<!-- ###  IMPORTANT NOTE: This Note type will not work with the Edit Field During Review (Cloze) Add-on -->
<div id="text">{{cloze:Text}}</div>


<br>

<!-- ~~~~~~~~~~~~~  TEXT-TO-SPEECH ~~~~~~~~~~~~~
replace the arrows/dashes from the statement below with double curly brackets-->

<!--tts en_US voices=Apple_Samantha speed=1.4:cloze-only:Text-->


<hr>


<!-- BUTTON FIELDS -->
<!-- CLOZE ONE BY ONE-->
<button id="button-reveal-next" class="button-general" onclick="revealNextCloze()">Reveal Next Cloze</button>
<button id="button-toggle-all" class="button-general" onclick="toggleAllCloze()">Toggle All Cloze</button>
<br>
<div class="btn-spacer" hidden></div>
<hint-button field-name="Personal Notes" short="ln" hint-id="notes"></hint-button>
<div id="dummy-ln" style="display: none;">{{Personal Notes}}</div>

<hint-button field-name="Missed Questions" short="mq" hint-id="missed"></hint-button>
<div id="dummy-mq" style="display: none;">{{Missed Questions}}</div>


<!-- Extra field -->
<p></p>{{#Extra}}
<div id="extra">{{edit:Extra}}</div>
{{/Extra}}<br>

<!-- ANKING HYPERLINK IMAGE -->
<a href="https://www.ankingmed.com"><img src="_AnKingRound.png" alt="The AnKing" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<!-- CLOZE ONE BY ONE SCRIPT -->
<style>
  .cloze[data-content]:hover {
    cursor: pointer;
  }
</style>

<script>
  (function() {
    var clozeOneByOneEnabled = true 
    /*
    try {
        clozeOneByOneEnabled = `{ {One by one} }`.trim() !== ""
    } catch (exception) {
      console.log(exception)
    }
    */

    const hideCloze = function(cloze) {
      if (!clozeOneByOneEnabled) {
        return
      }
      cloze.dataset.content = cloze.innerHTML
        if(window.clozeHints && window.clozeHints[i]) {
            cloze.innerHTML = window.clozeHints[i]
        } else {
            cloze.innerHTML = clozeHider(cloze)
        }
    }
    
    const revealCloze = function(elem) {
      // Checking for dataset.content is undefined may not be needed anymore?
      if (!clozeOneByOneEnabled || elem.dataset.content === undefined) {
        return
      }
      elem.innerHTML = elem.dataset.content
      delete elem.dataset.content
    }

    const revealClozeWord = function(elem) {
      if (!clozeOneByOneEnabled || elem.dataset.content === undefined) {
        return
      }
      if (elem.dataset.hidden !== undefined) {
        let words = elem.dataset.hidden.split(" ");
        if (words.length == 1) {
          revealCloze(elem)
          delete elem.dataset.hidden
          delete elem.dataset.revealed
        } else {
          elem.dataset.revealed = elem.dataset.revealed + " " + words[0]
          elem.dataset.hidden = words.slice(1).join(" ");
          let temp = document.createElement("div");
          temp.innerHTML = elem.dataset.hidden;
          elem.innerHTML = elem.dataset.revealed + " " + clozeHider(temp);
        }
      } else {
        let temp = document.createElement("div");
        temp.innerHTML = elem.dataset.content;
        elem.dataset.hidden = temp.textContent;
        elem.dataset.revealed = "";
        revealClozeWord(elem)
      }
    }

    window.revealNextCloze = function() {
      let nextHidden = document.querySelector(".cloze[data-content]")
      if(!nextHidden) {
          return
      } 
      if (revealNextClozeMode === "word") {
          revealClozeWord(nextHidden)
      } else {
          revealCloze(nextHidden)
      }
    }

    const hideAllCloze = function(initial) {
      let clozes = document.getElementsByClassName("cloze")
      for (let i = 0; i < clozes.length; i++) {
        let cloze = clozes[i]
        if (cloze.offsetWidth === 0) {
          continue
        }
        hideCloze(cloze)
        if (initial === true) {
          ankingAddEventListener(cloze, "touchend", revealClozeClicked)
          ankingAddEventListener(cloze, "click", revealClozeClicked)
        }
      }
    }

    window.toggleAllCloze = function() {
      let elems = document.querySelectorAll(".cloze[data-content]")
      let button = document.getElementById("button-toggle-all")
      if(elems.length > 0) {
        for (let i = 0; i < elems.length; i++) {
            revealCloze(elems[i])
        }
      } else {
        hideAllCloze(initial=false)
      }
    }

    const revealClozeClicked = function(ev) {
      let elem = ev.currentTarget
      if (elem.dataset.content === undefined) {
        return
      }
      if (!ev.altKey && (revealNextClozeMode !== "word")) {
        revealCloze(elem)
      } else {
        revealClozeWord(elem)
      }
      ev.stopPropagation()
      ev.preventDefault()
    }

    // previously attached listener should be removed.
    //
    // In case the keydown listener changes between versions across notetypes
    // and if shortcut is different across notetypes, attached every time.
    const attachKeydownListener = function() {
      if(window.revealClozeKeydownListener) {
        document.removeEventListener("keydown", window.revealClozeKeydownListener)
      }
      let showAllShortcut = shortcutMatcher(window.revealClozeShortcut)
      let showWordShortcut = shortcutMatcher(window.revealClozeWordShortcut)

      window.revealClozeKeydownListener = function(ev) {
        if(showAllShortcut(ev)) {
          let elem = document.querySelector(".cloze[data-content]")
          if (elem) {
            revealCloze(elem)
            ev.stopPropagation()
            ev.preventDefault()
            return
          }
        }
        if (showWordShortcut(ev)) {
          let elem = document.querySelector(".cloze[data-content]")
          if (elem) {
            revealClozeWord(elem)
            ev.stopPropagation()
            ev.preventDefault()
            return
          }
        }
      }
      ankingAddEventListener(document, "keydown", window.revealClozeKeydownListener);
    }
    
    // autoflip hides card in front template
    document.getElementById("qa").style.removeProperty("display")
    hideAllCloze(initial=true)

    attachKeydownListener()
  })()
</script>

<%- include('src/components/toggleButtons.ejs', {defaultIconFile: "_Anking_v3.png"}) %>


<!-- CLICKABLE COLORFUL TAGS -->
{{#Tags}}
<div id="tags-container">{{clickable::Tags}}</div>
<script>
    var tagContainer = document.getElementById("tags-container")
    if (tagContainer.childElementCount == 0) {
        var tagList = tagContainer.innerHTML.split(" ");
        var kbdList = [];
        var newTagContent = document.createElement("div");

        for (var i = 0; i < tagList.length; i++) {
            var newTag = document.createElement("kbd");
            newTag.innerHTML = tagList[i];
            newTagContent.append(newTag)
        }
        tagContainer.innerHTML = newTagContent.innerHTML;
        tagContainer.style.cursor = "default";
    }
    if (tagContainer.innerHTML.indexOf(tagID) != -1) {
        tagContainer.style.backgroundColor = "rgba(251,11,11,.15)";
    }

    function showtags() {
        var tagContainerShortcut = document.getElementById("tags-container");

        if (tagContainerShortcut.style.display
            === "none") {
            tagContainerShortcut.style.display = "block";
        } else {
            tagContainerShortcut.style.display =
                "none";
        }
    }
    var isShortcut = shortcutMatcher(toggleTagsShortcut)
    ankingAddEventListener(document, 'keyup', function (e) {
        if (isShortcut(e)) {
            showtags();
        }
    });


</script>
{{/Tags}}

<%- include('src/components/wikipediaSearches.ejs') %>